---
BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 80
BinPackArguments: false
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
AlignAfterOpenBracket: AlwaysBreak
BreakBinaryOperations: OnePerLine
BreakBeforeBinaryOperators: NonAssignment
Cpp11BracedListStyle: true
BreakBeforeBraces: Attach