.board { border-spacing: 0; border-collapse: collapse; }
.board th { padding: .5em; }
.board td { border: 1px solid; width: 2.5em; height: 2.5em; vertical-align: middle; text-align: center}
.board td span {display: block; margin: auto}
.board .light { background: #b5915f; }
.board .dark { background: #8F6940; }
.board .whitePiece {background-color: #fff}
.board .king {background-color: #d4af37}
.board .blackPiece {background-color: #000}

.faded {opacity: 0.3;}


.circle {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  margin: auto;
}
